# Ignore data files
/data/*
!/data/README.md

# Ignore saved models
/saved_models/*
!/saved_models/.gitkeep

# Ignore compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env

.venv/*

.vscode/*

runs/*